In [ ]:
import pandas as pd
import


df_clientes = pd.DataFrame({
    "ID_Cliente": [
        1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
        11, 12, 13, 14, 15, 16, 17, 18, 19, 20
    ],
    "Nome_Cliente": [
        "Ana Souza", "Bruno Lima", "Carla Mendes", "Diego Rocha", "Eduarda Alves",
        "Felipe Castro", "Gabriela Torres", "Hugo Ferreira", "Isabela Duarte", "João Martins",
        "Karen Silva", "Lucas Oliveira", "Mariana Costa", "Nicolas Rocha", "Olívia Freitas",
        "Paulo Santos", "Queila Nunes", "Rafael Gomes", "Sofia Almeida", "Tiago Ribeiro"
    ],
    "Estado": [
        "SP", "RJ", "MG", "BA", "SP", "RJ", "RS", "PR", "SC", "BA",
        "MG", "SP", "RJ", "RS", "SC", "PR", "BA", "SP", "RJ", "MG"
    ]
})


df_produtos = pd.DataFrame({
    "ID_Produto": [
        101, 102, 103, 104, 105, 106, 107, 108, 109, 110,
        111, 112, 113, 114, 115, 116, 117, 118, 119, 120
    ],
    "Nome_Produto": [
        "Notebook Dell", "Mouse Logitech", "Cadeira Gamer", "Caneta Azul", "Monitor LG",
        "Teclado Mecânico", "Impressora HP", "Luminária LED", "Mesa Escritório", "HD Externo",
        "Webcam Logitech", "Fone JBL", "Caderno Universitário", "Caixa de Som", "Tablet Samsung",
        "Smartphone Xiaomi", "Pendrive 64GB", "Calculadora Casio", "Suporte para Monitor", "Roteador TP-Link"
    ],
    "Categoria": [
        "Eletrônico", "Eletrônico", "Móveis", "Escritório", "Eletrônico",
        "Eletrônico", "Eletrônico", "Escritório", "Móveis", "Eletrônico",
        "Eletrônico", "Eletrônico", "Escritório", "Eletrônico", "Eletrônico",
        "Eletrônico", "Eletrônico", "Escritório", "Móveis", "Eletrônico"
    ],
    "Preco_Unitario": [
        4500.00, 120.00, 1350.00, 3.50, 950.00,
        380.00, 850.00, 75.00, 650.00, 320.00,
        250.00, 230.00, 20.00, 480.00, 1500.00,
        1800.00, 60.00, 90.00, 110.00, 300.00
    ]
})


df_vendas = pd.DataFrame({
    "ID_Venda": [
        1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
        11, 12, 13, 14, 15, 16, 17, 18, 19, 20
    ],
    "ID_Cliente": [
        1, 2, 3, 4, 5, 1, 6, 7, 8, 9,
        10, 2, 3, 11, 12, 13, 4, 5, 14, 15
    ],
    "ID_Produto": [
        101, 102, 103, 104, 105, 106, 107, 101, 110, 112,
        115, 116, 101, 118, 119, 120, 103, 104, 105, 101
    ],
    "Quantidade": [
        1, 2, 1, 10, 2, 1, 5, 1, 2, 3,
        1, 4, 2, 6, 1, 1, 2, 8, 3, 1
    ]
})

In [260]:
df_medio = pd.merge(right=df_clientes, left=df_vendas, on="ID_Cliente", how="left")
df_completo = pd.merge(df_medio, df_produtos, on="ID_Produto")

df_completo['valorTotal'] = df_completo['Quantidade'] * df_completo['Preco_Unitario']

display (df_completo)

,ID_Venda,ID_Cliente,ID_Produto,Quantidade,Nome_Cliente,Estado,Nome_Produto,Categoria,Preco_Unitario,valorTotal
0,1,1,101,1,Ana Souza,SP,Notebook Dell,Eletrônico,4500.0,4500.0
1,2,2,102,2,Bruno Lima,RJ,Mouse Logitech,Eletrônico,120.0,240.0
2,3,3,103,1,Carla Mendes,MG,Cadeira Gamer,Móveis,1350.0,1350.0
3,4,4,104,10,Diego Rocha,BA,Caneta Azul,Escritório,3.5,35.0
4,5,5,105,2,Eduarda Alves,SP,Monitor LG,Eletrônico,950.0,1900.0
5,6,1,106,1,Ana Souza,SP,Teclado Mecânico,Eletrônico,380.0,380.0
6,7,6,107,5,Felipe Castro,RJ,Impressora HP,Eletrônico,850.0,4250.0
7,8,7,101,1,Gabriela Torres,RS,Notebook Dell,Eletrônico,4500.0,4500.0
8,9,8,110,2,Hugo Ferreira,PR,HD Externo,Eletrônico,320.0,640.0
9,10,9,112,3,Isabela Duarte,SC,Fone JBL,Eletrônico,230.0,690.0
10,11,10,115,1,João Martins,BA,Tablet Samsung,Eletrônico,1500.0,1500.0
11,12,2,116,4,Bruno Lima,RJ,Smartphone Xiaomi,Eletrônico,1800.0,7200.0
12,13,3,101,2,Carla Mendes,MG,Notebook Dell,Eletrônico,4500.0,9000.0
13,14,11,118,6,Karen Silva,MG,Calculadora Casio,Escritório,90.0,540.0
14,15,12,119,1,Lucas Oliveira,SP,Suporte para Monitor,Móveis,110.0,110.0
15,16,13,120,1,Mariana Costa,RJ,Roteador TP-Link,Eletrônico,300.0,300.0
16,17,4,103,2,Diego Rocha,BA,Cadeira Gamer,Móveis,1350.0,2700.0
17,18,5,104,8,Eduarda Alves,SP,Caneta Azul,Escritório,3.5,28.0
18,19,14,105,3,Nicolas Rocha,RS,Monitor LG,Eletrônico,950.0,2850.0
19,20,15,101,1,Olívia Freitas,SC,Notebook Dell,Eletrônico,4500.0,4500.0

In [261]:
def classificarVendas(valor):

    if valor > 500:
        return 'Expresso'
    else:
        return 'Normal'
    
df_completo['Prioridade'] = df_completo['Preco_Unitario'].apply(classificarVendas)
display(df_completo)

,ID_Venda,ID_Cliente,ID_Produto,Quantidade,Nome_Cliente,Estado,Nome_Produto,Categoria,Preco_Unitario,valorTotal,Prioridade
0,1,1,101,1,Ana Souza,SP,Notebook Dell,Eletrônico,4500.0,4500.0,Expresso
1,2,2,102,2,Bruno Lima,RJ,Mouse Logitech,Eletrônico,120.0,240.0,Normal
2,3,3,103,1,Carla Mendes,MG,Cadeira Gamer,Móveis,1350.0,1350.0,Expresso
3,4,4,104,10,Diego Rocha,BA,Caneta Azul,Escritório,3.5,35.0,Normal
4,5,5,105,2,Eduarda Alves,SP,Monitor LG,Eletrônico,950.0,1900.0,Expresso
5,6,1,106,1,Ana Souza,SP,Teclado Mecânico,Eletrônico,380.0,380.0,Normal
6,7,6,107,5,Felipe Castro,RJ,Impressora HP,Eletrônico,850.0,4250.0,Expresso
7,8,7,101,1,Gabriela Torres,RS,Notebook Dell,Eletrônico,4500.0,4500.0,Expresso
8,9,8,110,2,Hugo Ferreira,PR,HD Externo,Eletrônico,320.0,640.0,Normal
9,10,9,112,3,Isabela Duarte,SC,Fone JBL,Eletrônico,230.0,690.0,Normal
10,11,10,115,1,João Martins,BA,Tablet Samsung,Eletrônico,1500.0,1500.0,Expresso
11,12,2,116,4,Bruno Lima,RJ,Smartphone Xiaomi,Eletrônico,1800.0,7200.0,Expresso
12,13,3,101,2,Carla Mendes,MG,Notebook Dell,Eletrônico,4500.0,9000.0,Expresso
13,14,11,118,6,Karen Silva,MG,Calculadora Casio,Escritório,90.0,540.0,Normal
14,15,12,119,1,Lucas Oliveira,SP,Suporte para Monitor,Móveis,110.0,110.0,Normal
15,16,13,120,1,Mariana Costa,RJ,Roteador TP-Link,Eletrônico,300.0,300.0,Normal
16,17,4,103,2,Diego Rocha,BA,Cadeira Gamer,Móveis,1350.0,2700.0,Expresso
17,18,5,104,8,Eduarda Alves,SP,Caneta Azul,Escritório,3.5,28.0,Normal
18,19,14,105,3,Nicolas Rocha,RS,Monitor LG,Eletrônico,950.0,2850.0,Expresso
19,20,15,101,1,Olívia Freitas,SC,Notebook Dell,Eletrônico,4500.0,4500.0,Expresso

In [262]:
# 1

faturamento_Total = df_completo.groupby('Categoria')['valorTotal'].sum()
display (faturamento_Total.reset_index())

# 2

qtd_produtos_uf = df_completo.groupby('Estado')['Quantidade'].sum()
display (qtd_produtos_uf.reset_index())

# 3

faturamentoTotalCliente = df_completo.groupby('Nome_Cliente')['valorTotal'].sum()
top3 = faturamentoTotalCliente.head(3).sort_values(ascending=False)
display (top3.reset_index())


# 4

produtoMaisVendido = df_completo.groupby('Quantidade')['Categoria'].count()
display(produtoMaisVendido.reset_index())
filtro_eletronico = df_completo[df_completo["Categoria"] == "Eletrônico"]

mais_vendidos_eletronico = (filtro_eletronico.groupby("Nome_Produto")["Quantidade"].sum().sort_values(ascending=False))
produto_top = mais_vendidos_eletronico.head(1)
display(produto_top.reset_index())

    Categoria  valorTotal
0  Eletrônico     42450.0
1  Escritório       603.0
2      Móveis      4160.0

  Estado  Quantidade
0     BA          13
1     MG           9
2     PR           2
3     RJ          12
4     RS           4
5     SC           4
6     SP          13

   Nome_Cliente  valorTotal
0  Carla Mendes     10350.0
1    Bruno Lima      7440.0
2     Ana Souza      4880.0

   Quantidade  Categoria
0           1          8
1           2          5
2           3          2
3           4          1
4           5          1
5           6          1
6           8          1
7          10          1

  Nome_Produto  Quantidade
0   Monitor LG           5