In [2]:
# --- Passo 1 ---

# Importação de bibilotecas e criação de tabelas
 
import pandas as pd

df_clientes = pd.DataFrame({
    'ID_Cliente': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Nome_Cliente': [
        'Maria Silva', 'João Pereira', 'Ana Costa', 'Pedro Souza', 'Carla Lima',
        'Lucas Oliveira', 'Fernanda Alves', 'Rafael Gomes', 'Beatriz Rocha', 'Diego Martins'
    ],
    'Estado': ['SP', 'RJ', 'MG', 'BA', 'PR', 'RS', 'SC', 'PE', 'CE', 'DF']
})

df_produtos = pd.DataFrame({
    'ID_Produto': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'Nome_Produto': [
        'Notebook X200', 'Mouse Óptico', 'Teclado Mecânico', 'Monitor 24"', 'Cadeira Gamer',
        'Caneta Azul', 'Caderno 200fl', 'Impressora Laser', 'Fone Bluetooth', 'Pendrive 64GB'
    ],
    'Categoria': [
        'Eletrônico', 'Eletrônico', 'Eletrônico', 'Eletrônico', 'Eletrônico',
        'Escritório', 'Escritório', 'Eletrônico', 'Eletrônico', 'Eletrônico'
    ],
    'Preco_Unitario': [4500, 80, 350, 900, 1200, 3, 25, 1100, 250, 70]
    
})

df_vendas = pd.DataFrame({
    'ID_Venda': [1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010],
    'ID_Cliente': [1, 3, 2, 5, 4, 7, 8, 9, 10, 6],
    'ID_Produto': [101, 106, 104, 103, 107, 108, 102, 109, 110, 105],
    'Quantidade': [1, 10, 2, 3, 5, 1, 4, 2, 6, 1]
})

In [3]:
df_medio = pd.merge(right=df_clientes, left=df_vendas, on="ID_Cliente", how="left")
df_completo = pd.merge(df_medio, df_produtos, on="ID_Produto")

df_completo['valorTotal'] = df_completo['Quantidade'] * df_completo['Preco_Unitario']

display (df_completo)

,ID_Venda,ID_Cliente,ID_Produto,Quantidade,Nome_Cliente,Estado,Nome_Produto,Categoria,Preco_Unitario,valorTotal
0,1001,1,101,1,Maria Silva,SP,Notebook X200,Eletrônico,4500,4500
1,1002,3,106,10,Ana Costa,MG,Caneta Azul,Escritório,3,30
2,1003,2,104,2,João Pereira,RJ,"Monitor 24""",Eletrônico,900,1800
3,1004,5,103,3,Carla Lima,PR,Teclado Mecânico,Eletrônico,350,1050
4,1005,4,107,5,Pedro Souza,BA,Caderno 200fl,Escritório,25,125
5,1006,7,108,1,Fernanda Alves,SC,Impressora Laser,Eletrônico,1100,1100
6,1007,8,102,4,Rafael Gomes,PE,Mouse Óptico,Eletrônico,80,320
7,1008,9,109,2,Beatriz Rocha,CE,Fone Bluetooth,Eletrônico,250,500
8,1009,10,110,6,Diego Martins,DF,Pendrive 64GB,Eletrônico,70,420
9,1010,6,105,1,Lucas Oliveira,RS,Cadeira Gamer,Eletrônico,1200,1200